[Unit] 
Description=Odoo 
Documentation=http://www.odoo.com
 
[Service] 
Type=simple 
User=mamado
ExecStart=/opt/odoo/odoo-13.0/odoo-bin -c /etc/odoo13.conf 
 
[Install] 
WantedBy=multi-user.target 
